@import "compass/css3/transition";
$lg: 10000px;
$md: 900px;
$sm: 700px;
$xs: 480px;
$backgroundColor : #7014ad;
$primaryColor : #fb397d;
$primaryColorDark :  #f8055a;
$textColor :  #444;
$textColorInverse :  $backgroundColor;

$accentColor: #884bdf;


*{ padding: 0; margin: 0; }	
body{ 
	font-family:'Segoe UI', 'Amazon Ember', 'Gill Sans','Gill Sans MT',GillSans,'Trebuchet MS',Arial,sans-serif; 
	background-color: #283039 !important; 
	color: $textColor; 
}

.hide{ display: none; }
.show{ display: block; }
.text{ line-height: 1.7em; }
.is_won { color: $primaryColor; font-weight: bold; }
.pointer { cursor: pointer;}
.justify { text-align: justify; }
.ellipsis{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.form-group { margin-bottom: 15px; }
.inline-block { display: inline-block !important; }
.to_uppercase { text-transform: uppercase;}
.to_lowercase { text-transform: lowercase;}
.bg_primary, .bg-primary { background-color: $primaryColor; }
.color_primary, .color-primary { color: $primaryColor; }
.color_primary_dark, .color-primary-dark { color: $primaryColorDark; }
.h1, .h2, .h3, h1, h2, h3, h4, h5, h6, p{ margin-top: 10px; margin-bottom: 10px; }
.btn-xs{padding: 1px 5px; }
.bold{ font-weight: bold; }
.red{color:red;}
table th small{ font-weight: bold;}
.form-check .form-check-input{margin-top: .35rem; margin-left: 0;}
.page-header{
	$pageHeaderHeight : 70px;
	
	margin: 0;
	border-bottom: none;
	border-top: 5px solid $primaryColor;
	position: relative;
	
	#title{
		display: inline-block;
		background-color: $primaryColor;
		position: relative;	
		padding: 0px 20px;
		color: black;
		font-size: 2.5em;
		line-height: $pageHeaderHeight - 5;
	}
}

a{ 
	color: $primaryColor; 
	&:hover, &:active, &:focus{ 
		color: $accentColor; 
	}
	&.inverse{
		color: $accentColor; 
		&:hover, &:active, &:focus{ 
			color: $primaryColor; 
		}
	}
 }
img{ max-width: 100%; max-height: 100%; }
table.text-center tr th{ text-align: center;}
table caption{ font-size: 1.4em; }
.table > tbody > tr > td, .table > tbody > tr > th, 
.table > tfoot > tr > td, .table > tfoot > tr > th, 
.table > thead > tr > td, .table > thead > tr > th{
//	border-top: 1px solid #141e52;		
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
//    background-color: #090d24;
}

fieldset{
	padding: 5px 5px 12px 15px;
	margin-bottom: 10px;
	border: 1px solid $primaryColorDark;
	legend{
		display: inline;
		width: auto;
		padding: 0 5px;
		margin: 0px;
		font-size: 21px;
		color: $primaryColorDark;
		border: none
	}
}

@media(min-width:768px) {
	.hide-sm-up{ display: block; }
}
@media(max-width:768px) {
	.hide-sm-up{ display: none; }
}
