
<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Times New Roman","serif"'>/@Q4/</span></p>

<p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%'>THE
GANDHI TEST</span></b></p>

<p class=MsoNormal><span style='font-size:12.0pt;line-height:107%;font-family:
"Times New Roman","serif"'>/@Q5/</span></p>




<div>
	<p>/@Q4/</p>
	<p>
		<b>THEGANDHI TEST</b>
	</p>
	<p>/@Q5/</p>
	<p>
		<b>BEAUTY</b>
	</p>
</div>