@import "inc";
@import "layout/layout";
@import "user/header";
@import "user/sidebar";

body{
	background-color: #eeeeee !important;
}
.slab{
	-webkit-box-shadow:0px 0px 2px 1px #aba6a6 ;
    -moz-box-shadow:0px 0px 2px 1px #aba6a6 ;
    box-shadow:0px 0px 2px 1px #aba6a6 ;
	background-color: #fff;
	color: #333333;
	border-radius: 3px;
}
.dashboard-slab{
    border-radius: 0px;
    -webkit-box-shadow:0px 0px 6px 2px #aba6a6 ;
    -moz-box-shadow:0px 0px 6px 2px #aba6a6 ;
    box-shadow:0px 0px 6px 2px #aba6a6 ;
    background-color: #fff;
	header{
	    background-color: $backgroundColor;
	    border-bottom: 2px solid #ced4da;
	    border-top-left-radius: 8px;
	    height: auto;
	    margin-bottom: 15px;
	    border-radius: 0;
	    & > *{
		    color: #efefef;
	    }
	}
	.dashboard-slab-body{
	    overflow: auto;
	}
	.form-group label{
	    margin: 0;
	    color: #474747;
	}
	.submit-btn{
	    height: auto;
	    margin-top: 25px;
	}
}
