header{
	height: 40px;
	background-color: $backgroundColor;
	color: #fff;
	-webkit-box-shadow:2px 0px 5px 0px #a19a9a ;
	-moz-box-shadow:2px 0px 5px 0px #a19a9a ;
	box-shadow:2px 0px 5px 0px #a19a9a ;
	border-bottom: 1px solid #93828e;
}