#sidebar-box{
	position: fixed;
	z-index: 3;
	overflow: auto;
}
#sidebar, #drop-menu{
	position: relative;
	-webkit-box-shadow:2px 0px 5px 0px #a19a9a ;
	-moz-box-shadow:2px 0px 5px 0px #a19a9a ;
	box-shadow:2px 0px 5px 0px #a19a9a ;
	color: #333333;
	background-color: #dfc7ef;
	#side-menu{
		
	}
	#user-details{
	    background-color: $backgroundColor;
    	color: #efefef;
		#avatar{
			background-color: $primaryColor;
			color: #fefefe;
			font-size: 1.67rem;
			font-weight: bold;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 4px solid $backgroundColor;
		}
	}	
	.menu-item{
		.header{
			text-transform: uppercase;
		    color: #e25485;
    		font-weight: 500;	
		}
	}
	ul, ul li{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	ul li{
    	padding: 8px 0;
	    border-bottom: 1px solid #d7b9ea;
	    background-color: #dfc7ef;
	}
	.header{
	    padding-top: 8px;
	    padding-bottom: 8px;
	    border-bottom: 1px solid #fbaac6;
    	border-top: 1px solid #fbaac6;
    	background-color: #f7d7e2;
	}
	ul li a, .header{
		list-style: none;
		padding-left: 15px;
		display: block;
	}
	ul li a{
	    font-weight: 500;
        color: #5b32b4;
    	padding: 8px 15px;
	}
	ul li a i{
		padding-right: 10px;
	}
}
#drop-menu{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	transition: max-width 0.4s linear;
	overflow: hidden;
	z-index: 2;
	width: 100%;
	max-width: 0;
	&.show{ max-width: 100%; }
	#side-menu-header{
		font-size: 1.5rem;
	}
}